In [1]:
import pandas as pd
import numpy as np

In [3]:
df_countries = pd.read_csv('covid19.csv')

In [6]:
df_countries = df_countries[1:]

In [8]:
df_countries = df_countries.nlargest(15,'Cases - cumulative total')

In [13]:
df_countries.to_csv('top15countries.csv',index=False)

In [14]:
df_countries["count"] = 0

In [15]:
df_countries

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,count
1,USA,Americas,46780515,14132.973,587281,177.425,83155,756664,228.598,8049,2.432,714,0
2,India,South-East Asia,34456401,2496.833,79288,5.745,8865,463852,33.612,2463,0.178,197,0
3,Brazil,Americas,21957967,10330.272,77528,36.474,4129,611283,287.582,1836,0.864,61,0
4,The United Kingdom,Europe,9600373,14141.903,266478,392.537,39270,142945,210.566,1083,1.595,47,0
5,Russia,Europe,9145912,6267.137,272257,186.561,36818,257837,176.680,8622,5.908,1240,0
6,Turkey,Europe,8432018,9997.761,172515,204.549,23852,73746,87.440,1432,1.698,215,0
7,France,Europe,7064362,10861.672,69787,107.300,3241,115777,178.011,251,0.386,70,0
8,Iran,Eastern Mediterranean,6045212,7197.285,49057,58.406,7494,128272,152.718,833,0.992,105,0
9,Argentina,Americas,5305742,11739.465,8961,19.827,0,116232,257.174,128,0.283,0,0
10,Germany,Europe,5077124,6104.755,272746,327.951,32048,97980,117.812,1253,1.507,265,0
11,Spain,Europe,5056954,10683.868,23060,48.719,1288,87716,185.318,83,0.175,1,0
12,Colombia,Americas,5031945,9889.267,16903,33.219,2610,127809,251.183,276,0.542,43,0
13,Italy,Europe,4865260,8157.509,52265,87.632,5144,132819,222.696,396,0.664,44,0
14,Indonesia,South-East Asia,4251423,1554.317,2580,0.943,347,143685,52.531,107,0.039,15,0
15,Mexico,Americas,3845733,2982.743,18947,14.695,942,291147,225.813,1413,1.096,58,0

In [26]:
import json
lis_codes= []
lis_flags = []
for index, row in df_countries.iterrows():
    with open('flags.json',encoding='utf-8') as data_file:    
        data = json.load(data_file)
        for v in data:
            
            if(v["name"] == row["Name"] ):
                lis_flags.append(v["flag"])
                lis_codes.append(v["code"])
                break;
df_countries["code"] = lis_codes
df_countries["flags"] = lis_flags

In [27]:
df_countries

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours,count,code,flags
1,USA,Americas,46780515,14132.973,587281,177.425,83155,756664,228.598,8049,2.432,714,0,US,ðŸ‡ºðŸ‡¸
2,India,South-East Asia,34456401,2496.833,79288,5.745,8865,463852,33.612,2463,0.178,197,0,IN,ðŸ‡®ðŸ‡³
3,Brazil,Americas,21957967,10330.272,77528,36.474,4129,611283,287.582,1836,0.864,61,0,BR,ðŸ‡§ðŸ‡·
4,The United Kingdom,Europe,9600373,14141.903,266478,392.537,39270,142945,210.566,1083,1.595,47,0,GB,ðŸ‡¬ðŸ‡§
5,Russia,Europe,9145912,6267.137,272257,186.561,36818,257837,176.680,8622,5.908,1240,0,RU,ðŸ‡·ðŸ‡º
6,Turkey,Europe,8432018,9997.761,172515,204.549,23852,73746,87.440,1432,1.698,215,0,TR,ðŸ‡¹ðŸ‡·
7,France,Europe,7064362,10861.672,69787,107.300,3241,115777,178.011,251,0.386,70,0,FR,ðŸ‡«ðŸ‡·
8,Iran,Eastern Mediterranean,6045212,7197.285,49057,58.406,7494,128272,152.718,833,0.992,105,0,IR,ðŸ‡®ðŸ‡·
9,Argentina,Americas,5305742,11739.465,8961,19.827,0,116232,257.174,128,0.283,0,0,AR,ðŸ‡¦ðŸ‡·
10,Germany,Europe,5077124,6104.755,272746,327.951,32048,97980,117.812,1253,1.507,265,0,DE,ðŸ‡©ðŸ‡ª
11,Spain,Europe,5056954,10683.868,23060,48.719,1288,87716,185.318,83,0.175,1,0,ES,ðŸ‡ªðŸ‡¸
12,Colombia,Americas,5031945,9889.267,16903,33.219,2610,127809,251.183,276,0.542,43,0,CO,ðŸ‡¨ðŸ‡´
13,Italy,Europe,4865260,8157.509,52265,87.632,5144,132819,222.696,396,0.664,44,0,IT,ðŸ‡®ðŸ‡¹
14,Indonesia,South-East Asia,4251423,1554.317,2580,0.943,347,143685,52.531,107,0.039,15,0,ID,ðŸ‡®ðŸ‡©
15,Mexico,Americas,3845733,2982.743,18947,14.695,942,291147,225.813,1413,1.096,58,0,MX,ðŸ‡²ðŸ‡½

In [28]:
df_countries.to_csv('top15countries.csv',index=False)